.items-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.item {
  padding: 10px;
  border: 1px solid rgba($gray, 0.3);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba($black, 0.1);
  display: flex;
  justify-content: space-between;
  gap: 20px;

  &Body {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width: $breakpoint-sm) {
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
    }

    .title {
      font-size: 18px;
      font-weight: 700;
      color: $primary;
      margin-bottom: 6px;
    }

    .text {
      font-size: 16px;
      color: $gray;
    }

    .label {
      display: inline-block;
      white-space: nowrap;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 12px;
      font-weight: 700;
      letter-spacing: 2px;
      padding: 4px 8px;
      border-radius: 4px;
      color: $white;
    }
  }

  &Actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 4px;

    .edit {
      color: $gray;
    }

    .delete {
      color: $red;
    }

    .date {
      font-size: 10px;
      margin-top: auto;
      color: $gray;
    }
  }
}
